* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "Archivo Narrow", sans-serif;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

html,
body {
  background: #121212;
  color: #ffffff;
}

.floating-divider {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #222222a4;
  margin-left: -200%;
  transition: all 0.6s;
}

.floating-divider.active {
  margin-left: 0;
}

.floating-island {
  background: #121212;
  width: 40%;
  display: block;
  margin: 20px auto;
  margin-left: 30%;
  position: fixed;
  text-align: center;
  align-self: center;
  border-radius: 6px;
  transition: all 0.6s;
  margin-top: -200vh;
}

.floating-island.active {
  margin-top: 20px;
}

.floating-island .floating-island-header {
  background: #d4af37;
  padding: 12px;
  margin-bottom: 20px;
  color: #ffffff;
}

.floating-island .floating-island-header h3 {
  font-size: 28px;
  font-weight: 600;
}

.floating-island .floating-island-header p {
  font-size: 18px;
}

.floating-island .floating-island-body {
  padding: 12px;
}

.floating-island .floating-island-body img {
  width: 30%;
}

.floating-island .floating-island-body h3 {
  font-size: 28px;
}

.floating-island .floating-island-body .import-type img {
  display: block;
  width: 60%;
  padding: 5px;
  margin: 10px auto;
}

.floating-island .floating-island-body .import-type .import-selection {
  display: flex;
  justify-content: space-evenly;
}

.floating-island .floating-island-body .import-type .import-selection p {
  cursor: pointer;
  padding: 10px;
  border-bottom: thin solid #d4af37;
}

.floating-island .floating-island-body .import-type .import-selected label {
  padding: 2px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: left;
  margin: 6px auto;
}

.floating-island .floating-island-body .import-type .import-selected textarea {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  resize: none;
  background: transparent;
  color: #f1f1f1;
  border-bottom: 2px solid #d4af37;
  display: block;
  margin: 2px auto;
  width: 80%;
}

.floating-island .floating-island-body .import-type .import-selected button {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background: #d4af37;
  border: 2px solid #d4af37;
  display: block;
  margin: 12px auto;
  width: 40%;
  color: #ffffff;
  border-radius: 4px;
}

.floating-island
  .floating-island-body
  .import-type
  .import-selected
  button:hover {
  background: #ffffff;
  border: 2px solid #d4af37;
  color: #d4af37;
}
.homedarkblock {
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homedarkblock .homedarkblockdiv {
  width: 40%;
  margin: 10px 0;
  padding: 12px 6px;
  color: #121212;
}

.homedarkblock .homedarkblockdiv h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

.homedarkblock .homedarkblockdiv p {
  font-size: 1rem;
  margin: 10px 0;
}

.homedarkblock .homedarkblockdiv h5 {
  color: #ffc11e;
  font-size: 1.7rem;
}

.homedarkblock .homedarkblockdiv a {
  background: #ffc11e;
  padding: 12px 30px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
}

header {
  background: #121212;
  padding: 20px;
  justify-content: space-evenly;
  box-shadow: 0px 0px 7px 6px #272727;
}

header .header_identity {
  float: left;
  width: 60%;
}

header .header_identity h3 {
  font-size: 26px;
  color: #d4af37;
}

header .header-links {
  float: right;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

header .header-links a {
  padding: 10px;
  font-size: 18px;
  display: inline-block;
  color: #d4af37;
  font-weight: 600;
}

main {
  width: 90%;
  margin: 20px auto;
}

.site_welcome {
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.site_welcome h3 {
  font-size: 54px;
  font-weight: 600;
}

.site_welcome p {
  font-size: 28px;
  font-weight: 400;
}

.site_welcome img {
  width: 90%;
  display: block;
  margin: 10px auto;
}

.how_to {
  width: 90%;
  margin: 10px auto;
}

.how_to .how_to_flex {
  display: flex;
  justify-content: space-evenly;
}

.how_to .how_to_flex > * {
  width: 48%;
}

.how_to .how_to_flex > * h3 {
  font-size: 28px;
  font-weight: 900;
  margin: 5px auto;
}

.how_to .how_to_flex > * p {
  font-size: 18px;
  margin: 5px auto;
  padding: 10px;
  font-weight: 300;
  word-spacing: 2px;
}

.wallets h3 {
  font-size: 48px;
  font-size: 600;
  text-align: center;
  margin: 20px auto;
}

.wallets .wallet_search {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
}

.wallets .wallet_search input {
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  border: 2px solid #d4af37;
  border-right: none;
  background: transparent;
  width: 80%;
  color: #f1f1f1;
}

.wallets .wallet_search button {
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  background: #d4af37;
  color: #ffffff;
  border: 2px solid #d4af37;
  border-left: none;
  width: 20%;
}

.wallets .your_wallets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wallets .your_wallets .wallet {
  width: 20%;
  padding: 14px;
  margin: 12px auto;
  display: block;
  background: #121212;
  box-shadow: 0px 0px 4px 1px #272727;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  cursor: pointer;
}

.wallets .your_wallets .wallet img {
  width: 35%;
}

.wallets .your_wallets .wallet p {
  width: 65%;
  text-align: center;
  margin-top: 19px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .floating-island {
    width: 90%;
    margin-left: 5%;
    overflow-y: scroll;
  }

  .wallets .wallet_search {
    width: 100%;
  }

  .wallets .wallet_search input {
    width: 75%;
  }

  .how_to .how_to_flex {
    display: block;
  }

  .how_to .how_to_flex > * {
    width: 100%;
  }

  .wallets .your_wallets {
    display: block;
  }

  .wallets .wallet_search button {
    padding: 16px;
    font-weight: 400;
    font-size: 18px;
    background: #d4af37;
    color: #ffffff;
    border: 2px solid #d4af37;
    border-left: none;
    width: 25%;
  }

  .wallets .your_wallets .wallet {
    width: 90%;
  }

  .homedarkblock {
    flex-direction: column;
  }

  .homedarkblock .homedarkblockdiv {
    width: 90%;
  }
}
